<!doctype html>
<html lang="en">
<head>
    <title>Tyler Menezes</title>
    <meta name="description" content="Tyler Menezes is a tech education entrepreneur with a cat blanket." />

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico"/>

    <link rel="author" href="/humans.txt"/>

    <meta property="og:title" content="Tyler Menezes"/>
    <meta property="og:site_name" content="Tyler Menezes"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://tyler.vc/" />
    <meta property="og:image" content="https://tyler.vc/assets/img/og.jpg"/>
    <meta property="og:description" content="Tyler Menezes is a tech education entrepreneur with a cat blanket."/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Tyler Menezes"/>
    <meta name="twitter:site" content="@tylermenezes"/>
    <meta name="twitter:creator" content="@tylermenezes"/>
    <meta name="twitter:image" content="https://tyler.vc/assets/img/og.jpg"/>
    <meta name="twitter:description" content="Tyler Menezes is a tech education entrepreneur with a cat blanket."/>

    <meta content="True" name="HandheldFriendly" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body class="index">
    <div class="session-fadein"></div>
    <header>
        <div>
            <div>
                <h1>Tyler Menezes</h1>
                <nav>
                    <ul>
                        <li><a href="http://x.tyler.vc/">Writing</a></li>
                        <li><a href="mailto:tylermenezes@protonmail.ch">Email</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="content">
        <article class="about">
            <h2><a name="bio"></a>Bio</h2>
            <section class="response">
                <p>Tyler Menezes is the executive director of StudentRND, where he works to improve tech education in
                   almost 40 cities nationwide through events such as CodeDay. For his work in tech education, he was
                   named one of the top 30 Under 30 in the Seattle area by the 425 Business magazine.</p>
                <p>Previously, he co-founded Framebase, a now-defunct video startup which was backed by Y Combinator,
                   Pejman Nozad, and several other angel investors.</p>
                <p>He dropped out of college but doesn't generally recommend it.</p>
                <p>Tyler's goal in life is to build lasting changes which really make the world better.
                    <span id="lifecount" style="display: none">
                        According to NIH and CDC estimates, he has somewhere around
                        <span id="life-remaining-years"></span>,
                        <span id="life-remaining-months"></span>,
                        <span id="life-remaining-days"></span>,
                        <span id="life-remaining-hours"></span>,
                        <span id="life-remaining-minutes"></span>, and
                        <span id="life-remaining-seconds"></span> to do so.
                    </span>
                </p>
            </section>
        </article>

        <article class="contact">
            <h2><a name="contact"></a>Contact</h2>
            <ul>
                <li>
                    <h3>Twitter</h3>
                    <p><a href="https://twitter.com/tylermenezes">@tylermenezes</a></p>
                </li>
                <li>
                    <h3>Email</h3>
                    <p><a href="mailto:tylermenezes@protonmail.ch">t&hellip;s@protonmail.ch</a></p>
                </li>
                <li>
                    <h3>Phone</h3>
                    <p>(206) 739-4741</p>
                </li>
                <li>
                    <h3>Call Sign</h3>
                    <p>KG7TUJ</p>
                </li>
                <li>
                    <h3>PK</h3>
                    <p><a href="https://keybase.io/tylermenezes">3DE4 622D FEFB E53E</a></p>
                </li>
                <li>
                    <h3>Press Photos</h3>
                    <p><a href="/assets/img/press-1.jpg" target="_blank"><img src="/assets/img/press-1-small.jpg" /></a>
                       <a href="/assets/img/press-2.jpg" target="_blank"><img src="/assets/img/press-2-small.jpg" /></a></p>
                </li>
            </ul>
        </article>

        <article class="pictures">
            <h2><a name="pictures"></a>My Life</h2>
            <ul>
                <li><img src="/assets/img/under30.jpg?1" alt="425 Business 30 Under 30" /></li>
                <li><img src="/assets/img/yc.jpg" alt="YC S12" /></li>
                <li><img src="/assets/img/teach.jpg" alt="CodeDay SF S13" /></li>
                <li><img src="/assets/img/catblanket.jpg" alt="This is my cat blanket" /></li>
                <li><img src="/assets/img/present.jpg" alt="Teaching at UW" /></li>
            </ul>
        </article>

        <article class="data">
            <h2><a name="data"></a>Data</h2>
            <section class="music">
                <h3>Music</h3>
                {% if data.music.nowplaying %}
                    <div class="nowplaying">
                        <a href="http://grooveshark.com/search/song?q={{ data.music.nowplaying.title|url_encode }}+by+{{ data.music.nowplaying.artist|url_encode }}"
                           target="_blank">
                            <img
                                src="{{ data.music.nowplaying.image }}"
                                alt="{{ data.music.nowplaying.album }}"
                                />
                        </a>
                        <h4>Listening Now</h4>
                        <a href="http://grooveshark.com/search/song?q={{ data.music.nowplaying.title|url_encode }}+by+{{ data.music.nowplaying.artist|url_encode }}"
                           target="_blank">
                            <span class="title">{{ data.music.nowplaying.title }}</span>
                        </a>
                        <a href="http://grooveshark.com/search/artist?q={{ data.music.nowplaying.artist|url_encode }}"
                           target="_blank">
                            <span class="artist">{{ data.music.nowplaying.artist }}</span>
                        </a>
                    </div>
                {% else %}
                    <div class="nowplaying noimage">
                        <div class="imageplaceholder"></div>
                        <h4>Listening Now</h4>
                        <span class="title">Nothing</span>
                    </div>
                {% endif %}

                <div class="topalbums">
                    <h4>I Also Like</h4>
                    <ol>
                        {% for album in data.music.topalbums[0:20] %}
                            <li>
                                <a
                                    href="https://play.google.com/music/listen?u=0#/sr/{{ album.name|url_encode }}"
                                    target="_blank">
                                    <img src="{{ album.image }}&" alt="{{ album.name }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </section>
{#            <section class="map">
                <h3>Current Location</h3>
                <div id="currentlocation"></div>
                <span>
                    Last updated {{ data.lastlocation.time|date('M j, Y \\a\\t g:ia') }}
                </span>
            </section>
#}
        </article>
    </section>
    <footer>
        <section class="copyright">
            <p>&copy; 2015</p>
        </section>
        <section class="progress">
            <p></p>
            <div id="life-progress-bar">
                <div id="life-progress-elapsed"></div>
            </div>
        </section>
        <section class="photocredit">
            <p>Photos by, in scanline order, <a href="http://www.alleycalkins.com/">Alley Calkins</a>, <a href="http://425business.com/">425 Business</a>, <a href="http://blog.garrytan.com/">Garry Tan</a>, <a href="http://edjiang.com/">Ed Jiang</a>, <a href="http://tessrinearson.com/">Tess Rinearson</a>, and <a href="http://www.oneredoak.com/about.html">Patrick Ellis</a>.</p>
        </section>
    </footer>
    <script type="text/javascript" src="/assets/js/app.js" async></script>
</body>
</html>
